



%int-400{
  font-family: "Inter-Regular";
  font-weight: 400;
}
%neo-700{
  font-family: "NeoGramExtended-Bold";
  font-weight: 700;
}
%pop-400{
  font-family: "Poppins-Regular";
  font-weight: 400;
}
%pop-500{
  font-family: "Poppins-Medium";
  font-weight: 500;
}
%pop-600{
  font-family: "Poppins-SemiBold";
  font-weight: 600;
}